<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/contact.css">    
</head>
<body>
    <header>
    <div class="wrapper">
        <div class="logo">
            <img src="https://i.postimg.cc/mg4rWBmv/logo.png" alt="Company's logo">
        </div>
            <ul class="nav-area">
                <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT US</a></li>
                <li><a href="/contact">CONTACT US</a></li>
            </ul>
        </div>
        <div class="welcome-text">
            <h1> CONTACT US </h1>
            <div id="contact-us" class="container">
                <div class="section">
                    <div class="icon">📍</div>
                    <h3>Address</h3>
                    <p>30 Good Shepherd St , Ho Man Tin </p>
                    <p>Hong Kong</p>
                
                    <div class="icon">📞</div>
                    <h3>Phone</h3>
                    <p>+852 2711 2100</p>
                
                    <div class="icon">✉️</div>
                    <h3>Email</h3>
                    <p>info@kkpark.edu.hk</p>
                </div>
            </div>
        </div>

    </header>

</body>
</html>

