<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/index.css">    
</head>
<body>
    <header>
        <div class="welcome-text">
            <h1> Welcome to <br><span>Class management system</span><br></h1>
            
        </div>
        <div class="wrapper">
            <div class="logo">
                <img src="https://i.postimg.cc/mg4rWBmv/logo.png" alt="Company's logo">
            </div>
                <ul class="nav-area">
                    <li><a href="/">HOME</a></li>
                    <li><a href="/about">ABOUT US</a></li>
                    <li><a href="/contact">CONTACT US</a></li>
                    <li><a href="/login">Login in</a></li>
                </ul>
            </div>
        
    </header>

</body>
</html>

